include COPYING NEWS *README
include parti/try-parti
include wimpiggy/lowlevel/constants.pxi
include xpra/x264/x264lib.c
include xpra/x264/x264lib.h
include xpra/vpx/vpxlib.c
include xpra/vpx/vpxlib.h
include *.desktop
include *.png
recursive-include man *
recursive-include patches *
recursive-include etc *
recursive-include icons *
global-include *.py *.txt *.pyx
global-exclude *~ #* *.orig *.bak *.rej
prune build
prune dist
prune install
